$first-font_color: #E3DAFF;
$scnd-font-color: #FCEADE;
$blue: #99B2DD;
$grey: #696773;
$dark-grey: #8F91A2;
$lil-space: 2%;
$big-space: 5%;

.space-flex {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.flex-half {
  flex: 1 1 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

body {
  background: $dark-grey;
  height: 100%;
	width: 100%;

  .beers {
    @extend .space-flex;

    .beer-box {
      background: $grey ;
      color: $first-font_color;
      border: 2px solid $blue;
      border-top: 1px solid $blue;
      border-radius: 5px;
      margin: 1.5%;
      padding: $lil-space;
      flex: 0 0 30%;
      display: flex;
      cursor: pointer;
      flex-flow: wrap column;
      transition: 0.25s;
      animation: fadeBeers 1.5s;

      &:last-child:after {
        content: 'This is the last beer :C';
        font-size: 1.5em;
        font-weight: 800;
        color: #fff;
        text-align: center
      }

      &:hover {
        background: $blue;
      }
    }

    .beer-img, .beer-info {
      text-align: center;
    }
    .beer-name{
      font-size: 1.25em;
      font-weight: 800;
      color: $first-font_color;
    }
    .beer-tagline {
      padding-bottom: $big-space;
      color: $first-font_color;
    }
    .beer-photo {
      padding-bottom: $lil-space;
      height: 300px;
      filter: drop-shadow(10px 10px 10px #99B2DD);
    }
    .beer--details {
      padding: $big-space;
      margin: $big-space 0;
      width: 75%;
      display: flex;
      position: fixed;
      color: $scnd-font-color;
      animation: showBeer 2s;

      .beer-img, .beer-info{
        @extend .flex-half;
      }

      .beer-info {
        text-align: justify;
        padding: 0 $lil-space;
        border-left: 2px solid #99B2DD;
      }

      .beer-tips {
        margin-bottom: $lil-space;
      }

      .beer-specs {
        color: $scnd-font-color;
        font-weight: 800;
        padding-right: $lil-space;
      }
    }
  }
}

@keyframes fadeBeers {
  from {transform: scale(0,0)}
  to {transform: scale(1,1)}
}

@keyframes showBeer {
  from {transform: translateX(100%);}
  to {transform: translateX(0%);}
}

@media screen and (max-width: 999px) {
  .beer-box {
    flex: 0 0 48%;
    margin: 1%;
  }
  .beer--details {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  body {
    .beers {
      .beer-box {
        flex: 0 0 96%;
        margin: $lil-space;
      }

      .beer--details {
        flex-flow: column wrap;
        position: absolute;

       .beer-info {
        margin-top: $big-space;
        padding: $lil-space 0;
        border-left: 0;
        border-top: 2px solid #99B2DD;
        }
      }

      @keyframes showBeer {
        from {transform: translateY(-100%);}
        to {transform: translateY(0%);}
      }
    }
  }
}

@media screen and (max-width: 480px) {
  body {
    .beers {
      .beer--details {
        .beer-info {
          text-align: left;

          .beer-name {
            font-size: 1.1em
          }
        }
      }
    }
  }
}
