{{#each model as |beer|}}
  <article class="beer-box">
      {{#link-to 'beer' beer}}
        <figure class="beer-img">
          <img src="{{beer.image_url}}" class="beer-photo" />
        </figure>
        <div class="beer-info">
          <p class="beer-name">{{beer.name}}</p>
          <p class="beer-tagline">{{beer.tagline}}</p>
        </div>
      {{/link-to }}
  </article>
{{/each}}
