<article class="beer--details">
  <figure class="beer-img">
    <img src="{{model.image_url}}" class="beer-photo" />
  </figure>
  <div class="beer-info">
    <p class="beer-name">{{model.name}}</p>
    <p class="beer-tagline">{{model.tagline}}</p>
    <p>
      <span class="beer-specs">IBU:</span>
      {{model.ibu}}
    </p>
    <p>
      <span class="beer-specs">ABV:</span>
      {{model.abv}}
    </p>
    <p class="beer-tips">
      <span class="beer-specs">TIPS:</span>
      {{model.brewers_tips}}
    </p>
    <p>{{model.description}}</p>
  </div>
</article>
